<h1>Eat-Da-burger!</h1>

<!-- using bootstarp classes -->
<div class= "row">
<h2 class="col-md-6">All Available Burgers</h2>
<h2 class="col-md-6">Devoured Section</h2>
</div>

<!-- All Burgers -->
<div class= "row">
<ul class ="col-md-6">

  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
<!--to display all the burgers from the database to the webpage  -->
        <!-- {{this.burger_name}} -->
<!-- to Devour a burger -->
        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
           {{this.burger_name}}
          <button id="devour" type="submit">Devour it!</button>
        </form>
      </li>

    {{/unless}}
  {{/each}}

</ul>

<!-- Devour Burgers -->
<ul class ="col-md-6">
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>
<!-- /row -->
</div>


<!-- to add one burger on the webpage -->
<form class="create-update-form" action="burgers/add" method="POST">
  <div class="form-group">
    <label for="burger"></label>
    <input type="text" id="burger" name="name" placeholder="enter your burger">
  </div>
  <br>
  <button id="submit" type="submit">Submit</button>
  <p>Enter a burger you want to eat and click submit button</p>
</form>